<h2>All Passwords</h2>
<table>
  <tr>
    <th>URL</th>
    <th>Username</th>
    <th>Password</th>
    <th>Commands</th>
  </tr>
  <% @passwords.each do |password| %>
    <tr>
      <td><%= password.url %></td>
      <td><%= password.username %></td>
      <td><%= password.password %></td>
      <td>
        <%= link_to "Show", password_path(password) %>
        <%= link_to "Edit", edit_password_path(password) %>
      </td>
    </tr>
  <% end -%>
</table>

<%= link_to "New Password", new_password_path %>