<h2>Password for <%= @password.url %></h2>

<table>
  <tr>
    <th>Username</th>
    <td><%= @password.username %></td>
  </tr>
  <tr>
    <th>Password</th>
    <td><%= @password.password %></td>
  </tr>
</table>
<%= link_to "Edit", edit_password_path(@password) %>
<%= link_to "Back", root_path %>